<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2"
            >
            <div class="card mt-4 shadow p-3 mb-5 bg-body-tertiary rounded justify-content-center">
              <img src="" class="card-img-top rounded-circle justify-content-center" alt="..."
                style="height: 5rem;width: 5rem;margin-left: 3rem;">
              <div class="card-body">
                <h5 class="card-title">  </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item"><b>Gender :- </b> </li>
                <li class="list-group-item"><b>Domain :- </b> </li>
                <li class="list-group-item"><b>Available :- </b> </li>
                <li class="list-group-item d-grid gap-2">
                </li>
              </ul>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  